.res-con {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
  background: rgba(0, 0, 0, 0.4);
}
.res-con .modal {
  position: relative;
  width: 5.6rem;
  min-height: 6rem;
  background: #fff;
  border-radius: 0.12rem;
  padding-bottom: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.res-con .modal .words {
  font-size: 1rem;
}
.res-con .modal .false {
  color: #e4393c;
}
.res-con .modal .next {
  margin-top: 0.56rem;
}
