.res-con {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transform: scale(0);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
  background: rgba(0, 0, 0, 0.4);
}
.res-con .modal {
  background: #fff;
  border-radius: 0.12rem;
}
.openres {
  transform: scale(1);
}
